// Modify doctype 5 -> doctype html
// See: https://github.com/strongloop/express/issues/1880

doctype html
html(lang='en', ng-app='polls')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, nitial-scale=1, user-scalable=no')
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/include/style.css")
    // STYLES END

    //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js')
    //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-resource.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js')

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/controllers.js")
    script(src="/js/dependencies/services.js")
    script(src="/js/app.js")
    // SCRIPTS END

  body(ng-controller='PollListCtrl')
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.navbar-header
        a.navbar-brand(href='#/polls')= title
    div.container
      div(ng-view)